.header1{
    text-align: center;
    font-family:'Calibri', sans-serif;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 15px;
}

table{
    background-image: url('images/beige.png');
}

.text{
    font-family:'Calibri', sans-serif;
    margin-left: 50px;
    background-image: url('images/background.png');
    background-size: cover;
    margin-right: 50px;
    font-size: 1.38em;
    line-height: 1.3em;
    min-width: 600px;

}

html{
    background-image: url('images/stars.png')
}

table, th, td{
    border: 13px solid;
    border-color: goldenrod;
    border-collapse: collapse;
    padding: 5px
}

#blahblahblah{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


td{
    padding: 20px;
}


footer{
    text-align:center;
    font-family:'Calibri', sans-serif;
    padding: 5px;
    font-size: 1.75em;
    color:white;

}

footer:hover{
    color: goldenrod;
}
.fontweight{
    font-weight:normal;
}

#connectwithme{
    margin-top:-10px;
}
#socialmediahandles{
    margin-top:-10px;

}


